<html>
    <head>
        <style>
            body {
                background-image: url(https://blog.picniq.co.uk/wp-content/uploads/2019/08/Maze-from-filming-high-res.jpg);
                background-size: cover;
                background-repeat: no-repeat;
            }
            h1 {
                color: white;
                font-size: 5rem;
                text-align: center;
            }
            a:before {
                content: url(https://vignette.wikia.nocookie.net/defenderoftexel/images/3/30/Minotaur_Sprite.png/revision/latest/scale-to-width-down/340?cb=20140325125603);
                height: auto;
                width: 25px;
            }
            .text {
                font-size: 3rem;
                color: slateblue;
                background: tan;
                text-align: center;
                text-decoration: none;
                border-radius: 5px;
            }
            .box {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                height: 60%;
            }
        </style>
    </head>
    <body>
        <h1>You got lost!</h1>
        <div class="box">
            <p class="text">Sorry, try another path!</p>
            <a class="text" href="/">Homepage!</a>
        </div>
    </body>
</html>
